/*Use this for custom stuff*/

body {
	padding-top: 70px;
	background: #F7E2BB;
}

.navbar {
	margin-top:-50px;
}
.container {
	margin-top: 50px;
}

h1, .h1 {
	font-size: 36px;
	color: black;
}

.carouselimg {
	margin-left: auto;
	margin-right: auto;
}

.list {
	margin-left: 20px;
}